@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

.title{
    font-family: 'Norican', cursive;
    font-size: 30px;
}

@media(min-width:768px){
    nav.navbar{
        display: none;
    }
}

@media (min-width: 390px)
{

nav.navbar{
max-width: 100%;
}


}
