/* You can add global styles to this file, and also import other style files */

.c0{
    background-color: #A65F55;
}
.c1{
    background-color: #B76D65;
}
.c2{
    background-color: #C17A76;
}
.c3{
    background-color: #CA8B85;
}
.c4{
    background-color: #CF9894;
}

html{
    min-height: 100%;
}



@media screen and (min-width: 390px){
    .app-parent{
        max-width: 410px;
        overflow: hidden;
    }
}
// @media(min-width: 768px){
//     .app-parent{
//         max-width: 800px;
//         overflow: hidden;
//     }
// }

@media screen and (min-width: 410px){
    .app-parent{
        max-width: unset;
    }
}