/* You can add global styles to this file, and also import other style files */

.c0{
    background-color: #A65F55;
}
.c1{
    background-color: #B76D65;
}
.c2{
    background-color: #C17A76;
}
.c3{
    background-color: #CA8B85;
}
.c4{
    background-color: #CF9894;
}


